.card-container {
    grid-area: card-container;
    border-radius: 50px;
    padding: 10px 0px 10px 0px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./kai-pilger-787888-unsplash.jpg);
    background-size: 750px
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.active-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #17A694;
}
